// --------------------------------
// Colors
// --------------------------------

$base: #9A2D7E;

$black: #4a3a46;

$gray0: #f9f9f9;
$gray1: #efecee;
$gray2: #e4dfe2;
$gray3: #d7d0d6;
$gray4: #cac1c8;
$gray5: #bbafb8;
$gray6: #aa9ba6;
$gray7: #968391;
$gray8: #7c6576;
$gray9: #4a3a46;

$fuschia0: #f5eaf2;
$fuschia1: #ead3e4;
$fuschia2: #ddb9d4;
$fuschia3: #ce9ac1;
$fuschia4: #ba71a8;
$fuschia5: #9a2d7f;
$fuschia6: #8a2872;
$fuschia7: #782363;
$fuschia8: #621c51;
$fuschia9: #441438;

$pink0: #f5eaed;
$pink1: #ead4d9;
$pink2: #ddbac2;
$pink3: #ce9aa7;
$pink4: #bb7284;
$pink5: #9a2d48;
$pink6: #8a2840;
$pink7: #782338;
$pink8: #621c2e;
$pink9: #44131f;

$red0: #f4ece9;
$red1: #e8d7d1;
$red2: #dbbfb5;
$red3: #cca295;
$red4: #b87e6b;
$red5: #9a482d;
$red6: #8a4028;
$red7: #783823;
$red8: #622e1c;
$red9: #442014;

$orange0: #f3efe6;
$orange1: #e5dfcb;
$orange2: #d7ccac;
$orange3: #c6b78a;
$orange4: #b39e61;
$orange5: #9a7f2d;
$orange6: #8a7228;
$orange7: #796423;
$orange8: #63521d;
$orange9: #463a14;

$yellow0: #eff2e5;
$yellow1: #dee5c9;
$yellow2: #cbd6aa;
$yellow3: #b6c587;
$yellow4: #9db15e;
$yellow5: #7f9a2d;
$yellow6: #728b28;
$yellow7: #647923;
$yellow8: #52641d;
$yellow9: #3b4714;

$lime0: #e9f3e6;
$lime1: #d2e6cb;
$lime2: #b8d7ad;
$lime3: #9ac78b;
$lime4: #76b362;
$lime5: #489a2d;
$lime6: #408a28;
$lime7: #387923;
$lime8: #2e641d;
$lime9: #214714;

$green0: #e7f3ea;
$green1: #cce6d3;
$green2: #afd8b9;
$green3: #8cc89b;
$green4: #63b477;
$green5: #2d9a48;
$green6: #288a40;
$green7: #237938;
$green8: #1d642e;
$green9: #144721;

$teal0: #e6f3f0;
$teal1: #cbe6df;
$teal2: #aed8cd;
$teal3: #8bc7b8;
$teal4: #62b39f;
$teal5: #2d9a7f;
$teal6: #288b72;
$teal7: #237964;
$teal8: #1d6452;
$teal9: #14473a;

$cyan0: #e7f0f3;
$cyan1: #cde0e7;
$cyan2: #b0cfd9;
$cyan3: #8ebac8;
$cyan4: #65a1b5;
$cyan5: #2d7f9a;
$cyan6: #28728a;
$cyan7: #236379;
$cyan8: #1d5263;
$cyan9: #143946;

$blue0: #eaecf4;
$blue1: #d2d8e9;
$blue2: #b8c1dc;
$blue3: #98a5cd;
$blue4: #6f82ba;
$blue5: #2d489a;
$blue6: #28408a;
$blue7: #223777;
$blue8: #1c2d60;
$blue9: #131e41;

$indigo0: #edebf5;
$indigo1: #dad4ea;
$indigo2: #c4bbde;
$indigo3: #a99ccf;
$indigo4: #8674bc;
$indigo5: #482d9a;
$indigo6: #402889;
$indigo7: #372277;
$indigo8: #2c1c60;
$indigo9: #1e1240;

$violet0: #f2eaf5;
$violet1: #e4d3ea;
$violet2: #d4b9dd;
$violet3: #c19ace;
$violet4: #a871ba;
$violet5: #7f2d9a;
$violet6: #72288a;
$violet7: #632378;
$violet8: #501c62;
$violet9: #371343;

:root {
  --color-bg: hsl(0, 0%, 100%);
  --color-contrast-lower: hsl(0, 0%, 95%);
  --color-contrast-low: hsl(240, 1%, 83%);
  --color-contrast-medium: hsl(240, 1%, 48%);
  --color-contrast-high: hsl(240, 4%, 20%);
  --color-contrast-higher: hsl(240, 8%, 12%);
  --color-primary: hsl(220, 90%, 56%);
  --color-accent: hsl(355, 90%, 61%);
  --color-success: hsl(94, 48%, 56%);
  --color-warning: hsl(46, 100%, 61%);
  --color-error: hsl(355, 90%, 61%);
  --color-white: white;
  --color-black: black;
}


// --------------------------------
// Typography
// --------------------------------
:root {
  // font family
  --font-primary: sans-serif;

  // body font size
  --text-base-size: 1em;
  
  // type scale
  --text-scale-ratio: 1.2;
  --text-xs: calc((1em / var(--text-scale-ratio)) / var(--text-scale-ratio));
  --text-sm: calc(var(--text-xs) * var(--text-scale-ratio));
  --text-md: calc(var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
  --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
  --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
  --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));

  // line-height
  --body-line-height: 1.4;
  --heading-line-height: 1.2;

  // capital letters - used in combo with the lh-crop mixin
  --font-primary-capital-letter: 1;
}


// --------------------------------
// Spacing
// --------------------------------
:root {
  --space-unit:  1em;
  --space-xxxxs: calc(0.125 * var(--space-unit)); 
  --space-xxxs:  calc(0.25 * var(--space-unit));
  --space-xxs:   calc(0.375 * var(--space-unit));
  --space-xs:    calc(0.5 * var(--space-unit));
  --space-sm:    calc(0.75 * var(--space-unit));
  --space-md:    calc(1.25 * var(--space-unit));
  --space-lg:    calc(2 * var(--space-unit));
  --space-xl:    calc(3.25 * var(--space-unit));
  --space-xxl:   calc(5.25 * var(--space-unit));
  --space-xxxl:  calc(8.5 * var(--space-unit));
  --space-xxxxl: calc(13.75 * var(--space-unit));
}

// --------------------------------
// Borders
// --------------------------------
:root {
  --radius-sm: 0.125em;
  --radius-md: 0.25em;
  --radius-lg: 0.5em;
}

// --------------------------------
// Depth
// --------------------------------
:root {
  --shadow-xs: 0 1px 2px rgba(0, 0, 0, .1); // lower depth;
  --shadow-sm: 0 1px 2px rgba(0, 0, 0, .085), 0 1px 8px rgba(0, 0, 0, .1); // low depth;
  --shadow-md: 0 1px 8px rgba(0, 0, 0, .085), 0 8px 24px rgba(0, 0, 0, .1); // medium depth
  --shadow-lg: 0 1px 8px rgba(0, 0, 0, .085), 0 16px 48px rgba(0, 0, 0, .085), 0 24px 60px rgba(0, 0, 0, .085); // high depth
  --shadow-xl: 0 1px 8px rgba(0, 0, 0, .085), 0 16px 64px rgba(0, 0, 0, .15), 0 24px 100px rgba(0, 0, 0, .15); // higher depth

  --zindex-header: 2;
  --zindex-popover: 5;
  --zindex-fixed-element: 10;
  --zindex-overlay: 15; // modals and dialogs
}

// --------------------------------
// Easing
// --------------------------------
:root {
  --bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
  --ease-in: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);

  --enter-timing-function: cubic-bezier(0, .5, .5, 1);
  --exit-timing-function: cubic-bezier(.5, 0, 1, .5);
  --translate-timing-function: cubic-bezier(.5, 0, .5, 1);
}
