// Button
//
// Use this class to style a button.
//
// Markup:
// <button class="button">Click Me</button>
//
// :hover - When user hovers over button.
// :focus - When button is focused.
// :active - When button is active.
//
// Styleguide Components.Buttons
.button {
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  appearance: none;
  border-radius: var(--border-radius, 0.25em);
  transition: all .2s;
  will-change: transform;
}

.button:hover {
  transform: translateY(1px);
}

.button:active {
  transform: translateY(-1px);
}

.button:focus {
  box-shadow: 0 2px 3px var(--focus-color, blue);
}