// Default animation

[animation="in"] > * {
  --delay: 0;
  --base-duration: .8s;
  --distance-multiplier: 1;
  --strong-ease: cubic-bezier(.13, .01, 0.1, 1);

  transition-property: transform;
  transition-delay: var(--delay);
  transition-timing-function: var(--strong-ease);
  transition-duration: calc(var(--base-duration) * var(--distance-multiplier));
}


@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(.25rem);
  }
}