

// Hidden
[aria-hidden="true"],
.hidden {
  display: none;
}

// visible
[aria-hidden="false"] {
  display: block;
}

// valid
[aria-invalid] {
  border: 2px solid #cc3535;
  outline: 0;

  &:focus,
  &:hover {
    outline: 0;
    border-color: darken(#cc3535, 5%);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.63);
  }
}

// hide placeholders on focused inputs
input:focus::placeholder {
  color:transparent;
}